<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('style') }}

    <title>
    </title>
</head>
<body>
    <header>
    <form>
    
<table>
    <tr>
    <td>
    Enter User Id: 
    </td>
    <td>
    <input type="text">
    </input>
    </td>
    </tr>
    <tr>
    <td>
    Enter Pasword:
    </td>
    <td>  
    <input type="password">
    </input>
    </td>
    </tr>
    <tr> 
    <td>
    </td>
    <td>
    <input type="submit">
    </input>
    </td></tr>
</table>
    </form>    
    </header>

    <div class="container">
    </div>
</body>
</html>