<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('style') }}
    
    
    <title>
    </title>
</head>
<body>
    <header>
    <form><table>
    <tr>
    <td>
    amit {{database}}
    <h1>Blog TItle:</h1>
    </td>
    <td>
    <h1>Blog</h1> 
    </td>
    </h1>
    </tr>
    <tr>
    <td>
    <h2>
    Blog data:
    </h2>
    </td>
    <td>
    <h2>  
    Blog
    </h2>
    </td>
    </tr>
    <tr> 
    <td>
    </td>
    <td>
    <input type="submit">
    </input>
    </td>
    </tr>
    </table>
    </form>    
    </header>
    <div class="container">
    </div>


</body>
<script>
<script>
</html>